<web-app>
	<filter>
		<description>All the Init Parameter are optional.</description>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.ys168.zhanhb.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>encoding for content, default UTF-8. @see javax.servlet.http.HttpServletRequest.getCharacterEncoding()</description>
			<param-name>characterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<description>encoding for queryString, default UTF-8</description>
			<param-name>queryStringEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<description>the methods should which should parse content</description>
			<param-name>parseBodyMethods</param-name>
			<param-value>POST, PUT</param-value>
		</init-param>
		<init-param>
			<description>if this value is specified, queryStringEncoding is ignored and will use the value request.getCharacterEncoding().</description>
			<param-name>useBodyEncodingForQueryString</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<description>the max post content size, default 2097152.</description>
			<param-name>maxPostSize</param-name>
			<param-value>2097152</param-value>
		</init-param>
		<init-param>
			<description>the max count of the parameter for GET and POST method. default 10000</description>
			<param-name>maxParameterCount</param-name>
			<param-value>10000</param-value>
		</init-param>
		<init-param>
			<description>guess if the servletPath is utf-8 bytes but recognized as IOS-8859-1 bytes.</description>
			<param-name>guessURIEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
